<div class="col-sm-8">
  <dl class="dl-horizontal">
    <dt>Name</dt>
      <dd><%= @product.name %></dd>
    <dt>Description</dt>
      <dd><%= @product.description %></dd>
    <dt>Quantity</dt>
      <dd><%= @product.quantity %></dd>
    <dt>Price</dt>
      <dd><%= humanized_money_with_symbol @product.price %></dd>
      <dt>Product Rating</dt>
    <% if @average.to_i == 0 %>
      <dd>This product has not been rated yet.</dd>
      <% else %>
        <dd><%= @average.to_i %> out of 5</dd>
      <% end %>
  </dl>
</div>